<h2>Главная страница</h2>
<hr>
<p>Lorem ipsum dolor sit 
    amet consectetur adipisicing elit. 
    Explicabo voluptatibus, qui harum repellat 
    sunt voluptate mollitia delectus laudantium 
    error animi impedit aperiam voluptatum!
    Libero odit ad inventore magni voluptate similique.
</p>
<button class="btn btn-primary" (click)='toCarPage()'>
    Перейти к машинам
</button>

<hr>


<button class="btn btn-primary"  (click)='auth()'>
    Login
</button>

<button class="btn btn-primary" (click)='auth()'>
LogOut
</button>
